html,
body {
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

._footer {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    flex-direction: column;
    font-size: 0.8em;
}

#qsearchInput {
    min-width: 180px;
}

#quickconnect {
    min-width: 180px;
}

.navbar {
    padding: 0.5rem 1rem;
}

#theImage {
    padding-top: 1rem;
}

#theImageInfos td {
    color: #1a1a1a;
    padding: 0.3rem;
}

#theImageInfos th{
    padding: 0.3rem;
}

#theImageInfos table {
    font-size: 0.7rem;
}